<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*) /api/main.php?method=$1 [L]
    RewriteRule ^(.*)$ /index.php?short=$1 [L]
</IfModule>
